@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap'); 
body{
    font-family: 'Yeon Sung', 'Courier New', Courier, monospace;
    font-size: 27px;
}
.logo{
    width: 5%;
    margin-top: 1.4em;
}
.logo img{
    width: 60%;
}
main{
    display: flex;
    justify-content: space-around;

}
.main-content{
    width: 60%;
    height: auto;
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main-title{
    color: darkblue;
    font-weight: bold;
    font-size: 3.4em;
}
#info-input{
    width: 90%; 
    height: 500px; 
    /* background-color: teal; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.general-textarea{
    font-size: 1.5em;
    color: darkblue;
    background-color: transparent;
    font-family: 'Yeon Sung', 'Courier New', Courier, monospace;
    border: none;                
    resize: none;
    outline: none;
}
#mytextarea{
    width: 100%;
    height: 80%;
    padding: 0.5em;
    border: none;                
    resize: none;
    outline: none;
    line-height: 125%;
    align-self: flex-start;

}
#notification{
    font-size: 0.8em;
    text-align: center;
    width: 100%;
}
/* .info-input textarea{} */
.mybuttons{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#encrypt,#desencrypt{
    width: 46%;
    height: 3em;
    font-size: 1.5em;
    border-radius: 0.5em;
    font-family: 'Yeon Sung', 'Courier New', Courier, monospace;
}
.copy-button{
    width: 46%;
    height: 2.3em;
    font-size: 1.1em;
    border-radius: 0.5em;
    font-family: 'Yeon Sung', 'Courier New', Courier, monospace;
}
#encrypt{
    background-color: darkblue;
    color: aliceblue;
    transition: background-color 400ms linear;
}
#encrypt:hover{
    background-color: rgb(30, 208, 235);
    color: darkblue;
    transform: rotate(-6deg);
    cursor:pointer;
}
#desencrypt{
    background-color: #D8DFE8;
    color: darkblue;
}
#desencrypt:hover{
    background-color: rgb(9, 59, 125);
    color: rgb(0, 255, 221);
    transform: rotate(6deg);
    cursor:pointer;
}
.card{
    width: 23%;
    height: 34em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 0.8em;
    border: 0.1em  solid darkblue;
    margin-top: 1em;
    margin-bottom: 1em;
    align-items: center;
}
.card #image{
    width: 80%;
    height: 50%;
}
.card #image img{
    width: 100%;
    height: 100%;
    margin-top: 2em;
    padding: 10px;
}
.card .messages{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30%;
    
}
#huge-message, #tiny-message{
    padding: 0.7em;
}
#huge-message{
    font-weight: bold;
    text-align: center;
}
#tiny-message{
    font-size: 0.8em;
    text-align: center;
}

@media screen and (max-width: 480px) {
    body {
      font-size: 20px;
      color: darkblue;
    }
    main{
        display: inline-block;
        /* flex-direction: row;
        justify-content:space-around; */
    }
    .logo{
        vertical-align: top;
        height: 90px;
        margin: 0 1em;
    }
    .main-content{
         display: inline-block;
         margin-left: 1em;
         
    }
    .card{
        margin-top: 1em;
        margin-right: auto;
        margin-left: auto;
        width: 12em;
        height: auto;   
    }
    #mytextarea{
        font-size: 1em;
        height: 40%;
    }
    .card #image{
        display: none;
    }
    .main-title{
        font-size: 2em;
    }
    #encrypted-text{
        font-size: 0.7em;
        
    }
    .logo{
        display: inline-block;
    }
    .logo img{
        width: 100%;
    }
    .info-input{
        display: flex;
        flex-direction: center;
        justify-content: center;
        width: 4em;
    }
    #notification{
        align-self: center;
        font-size: 0.8em;
        height: 10%;
    }

    #notificacion::first-letter{
        font-size: 6em;
    }
    .header {
      display: block;
    }
    .mybuttons{
        font-size: 0.7em;
    }
    .copy-button{
        font-size: 1.2em;
    }/*
    .copy-button:hover{
        font-size: 1.2em;
        background-color: blue;
        color:azure;
    } */

}